body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
    background-size: cover;
    background: rgba(127, 255, 212, 0.9 ) url('#') no-repeat center center fixed; /* Set background image with reduced opacity */
             /* Ensure the background covers the entire screen */
            color: rgba(255,255,255);   
            overflow: hidden !important;
}

.custom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* White background for the container */
    padding: 10px 20px; /* Adjust padding as needed */
  }

  .custom-div .navbar-brand,
  .custom-div .company-name {
    color: #333; /* Text color for product name and company name */
    text-decoration: none; /* Remove underline */
  }

  .custom-div .navbar-nav .nav-link {
    transition: color 0.3s;
  }

  .custom-div .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: #888;
    padding: 8px 16px;
    border-radius: 5px;
  }

#loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-out; /* Add a fade-out transition */
}

#loading-container.fade-out {
    opacity: 0;
}

#loading-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.chair{
    color: black;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); /* Set black low-opacity overlay */
    background-size: (1920px , 1080px);
    pointer-events: none;
    z-index: -10;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
}

/* Additional styling if needed */
video {
    opacity: 0.8;
}

.list-unstyled {
    list-style:disc; /* Add bullet points */
    padding-left: 2px; /* Adjust indentation for bullets */
    
}

.list-unstyled a {
    text-decoration: none; /* Remove underlines for links */
}
.as{
    align-self: left;
}

p {
    white-space: wrap;
    text-align: justify;
    text-justify: inter-word;
}


.style-two {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.cls{
    align-items: center;
}
.img {
    border-radius: 10%;
  }
.payimg {
    width: 15%;
    height: auto;
}

/* Media query for smaller screens (e.g., phones) */
@media (max-width: 767px) {
    .payimg {
        width: 80%; /* Full width on smaller screens */
        height: auto;
    }
}
*{
    font-family: sans-serif;
}